
@mixin card-shadow {
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

.place-card {
  @include card-shadow;
  margin-bottom: $spacing-md;

  &__name {
    font-weight: bold;
  }

  &__temp {
    font-size: 1.5rem;
    color: $primary-color;
  }
}
